# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# React
node_modules/
build/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Migrations (optional)
# */migrations/*
# !*/migrations/__init__.py